.uber-button {
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  width: 120px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.uber-button:hover {
  opacity: 0.7;
}

.amazon-button {
  background-color: rgb(255, 216, 20);
  color: black;
  height: 35px;
  width: 150px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.amazon-button:hover {
  background-color: rgb(221, 184, 0);
}

.github-button {
  background-color: rgb(46, 164, 0);
  color:white;
  height: 35px;
  width: 90px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.github-button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.bootstrap-button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.15s,
    color 0.15s;
}

.bootstrap-button.bsone {
  background-color: rgb(121,82,179);
  color: white;
  border: none;
  margin-right: 8px;
}

.bootstrap-button.bsone:hover {
  background-color: rgb(66, 44, 99);
}

.bootstrap-button.bstwo {
  background-color: white;
  color: rgb(68, 68, 68);
  border: 1px solid rgb(108, 117, 125);
}

.bootstrap-button.bstwo:hover {
  background-color: rgb(68,68, 68);
  color: white;
}

.linkedin-button {
  font-weight: 700;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s,
    border 0.15s;
}

.linkedin-button.lione {
  background-color: rgb(10, 102, 194);
  color: white;
  width: 200px;
  margin-right: 5px;
}

.linkedin-button.lione:hover {
  background-color: rgb(3, 47, 90);
}

.linkedin-button.litwo {
  background-color: white;
  color: rgb(10,102,194);
  border: 1px solid rgb(10,102,194);
  width: 75px;
}

.linkedin-button.litwo:hover {
  background-color:rgba(10, 102, 194, 0.2);
  border: 2px solid rgb(10, 102, 194);
}

a {
  color: rgb(0,113,133)
}

a:hover {
  color: rgb(155, 3, 3);
}

.title {
  font-weight: bold;
  font-size: 25px;
}

.price {
  font-weight:bold;
  color: rgb(0,118,0)
}

.buttons {
  height: 30px;
  width: 120px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 4px;
  transition: 0.15s;
}

.buttons.add {
  background-color: rgb(255,216,20);
}

.buttons.add:hover {
  background-color: rgb(221, 184, 0);
}

.buttons.add:active {
  opacity: 0.7;
}

.buttons.buy {
  background-color: rgb(255,164,28);
}

.buttons.buy:hover {
  background-color: rgb(199, 128, 22);
}

.buttons.buy:active {
  opacity: 0.7;
}